body{
    width: 970px;
    margin: 0px auto;
}
.container{
    background-color:rgb(255,255,255);
    height: auto;
}
    .container h3{
        color: rgb(202,179,65);
        margin-left: 115px;
        font-style: italic;
        margin-bottom: -10px;
    }

.header{
    background-color: rgb(36,80,118);
}
    .header img {
        width: 300px;
        margin-top: 18px;
        margin-left: 24px;
        display: inline-block;
    }
    .header span{
        background-color: rgb(68,68,68);
        padding: 15px;
        display: inline-block;

        margin-left:  -237px;
        vertical-align: top;
        margin-top: 40px;
        border-radius: 15px;
    }
    .header p {
        vertical-align: top;
        display: inline-block;
        margin-left: 140px;
        color: rgb(173,190,204);
    }

.nav{
    border-radius: 15px;
    background-color:rgb(67,125,173);
    height: 50px;
    padding: 5px;
    text-align: center;
    width: 800px;
    margin: 0px auto;
    margin-top: 20px;
    color: rgb(233,240,245);
}
    .nav li{
        display: inline-block;
        margin-left: 35px;
    }
    .nav ul{
        font-size: 22px;
        margin-left: -84px;
        margin-top: 15px;
    }

.aside{
    display: inline-block;
}
    .aside li{
    color: rgb(233,240,245);
    text-decoration: underline;
    margin: 6px;

    }

    .aside ul{
        margin-left: 63px;
        text-align: center;
        list-style-position: inside;

    }

.content{
    display: inline-block;
    vertical-align: top;
    width: 600px;
    margin-left: -30px;
    text-align: center;
    
}

.content2{
    display: inline-block;
    margin-left: 125px;
    vertical-align: top;
    text-align: center;
}
    .content2 p{
        width: 300px;
    }
    .content2 li {
        color: blue;
    }

.footer{
    background-color: rgb(36,80,118);
    height: 80px;
}
